/*                 HyperLinker.com(TM) style sheet                  */
/*      http://www.HyperLinker.com - email at HyperLinker.com       */




a.simple {text-decoration: underline}
.simple:hover {text-decoration: none}

a.asimple {text-decoration: none}
.asimple:hover {text-decoration: underline}

a.asimple_grey {text-decoration: underline; color: #8f8f8f}
.asimple_grey:hover {text-decoration: none; color: #8f8f8f}

a.simple_grey {text-decoration: none; color: #8f8f8f}
.simple_grey:hover {text-decoration: underline; color: #8f8f8f}

a.white {text-decoration: none; color: white}
.white:hover {text-decoration: underline; color: white}




a.signature {text-decoration: none}
.signature:hover {text-decoration: underline}
